body {
    font-family: "Arial, Helvetica, sans-serif";
    font: "12px";
    background-image: url("./images/gravel.png")
}

#headerCol {
    background-color: #4aaaa5;
    text-decoration-color: #f5fafa;
}

header {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: "serif", "Times New Roman", "Times";
    float: left;
    text-align: center;
    margin-bottom: "20px";
}

.navbar-light {
    background-color: #ffffff;
    width: "960px";
    float: right;
}

#followText {
    font-weight: bold;
}

.card {
    padding-bottom: "20px";
    text-decoration-color: "#ffffff";
}

h5 {
    padding-bottom: "15px";
}

.container {
    background-color: white;

}